<div class="table-responsive" >
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
      </ng-container>
  
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.prtViewName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef style="text-align: right"> Quantity </th>
        <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.quantity | number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef style="text-align: right"> Amount </th>
        <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.curSymbol}} {{element.amount | number}} </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer" (click)="onGoToDetailTrx(row.id)" ></tr>
    </table>
  
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Close</button>
  </div>