<div class="chart-filter">
    <mat-spinner *ngIf="IsLoading" mode="indeterminate" value="40"></mat-spinner>
    <mat-icon *ngIf="IsError" class="icon-refresh" (click)="onRefresh()">refresh</mat-icon>
<ngx-charts-pie-chart *ngIf="!IsError  && !IsLoading"
[view]="view"
[scheme]="colorScheme"
[results]="totalsupplier"
[legend]="showLegend"
[explodeSlices]="explodeSlices"
[labels]="showLabels"
[doughnut]="doughnut"
[gradient]="gradient"
(select)="onSelect($event)">
</ngx-charts-pie-chart>
<div class="total-supp" *ngIf="!IsError  && !IsLoading">
    <h3>{{ total | number }}</h3>
    <h3>Supplier</h3>
</div>

</div>
