table {
    width: 2500px;
}
.text-number{
    text-align: center;
}

.text-bold{
    font-weight: bold;
}

.text-left{
    text-align: left !important;
    /* padding-left: 10px !important; */
}

.height-matformfield{
    height: 45px;
}

.l-208{
    left: 208px !important;
}
.l-457{
    left: 457px !important;
}
.l-564{
    left: 564px !important;
}
.l-0{
    left: 0 !important;
}
.th-blue{
    background: #3f51b5;
    color: #fff;
}
.th-yellow{
    background: #eded8c;
    color: #222;
}
.th-green{
    background: #50a750;
    color: #fff;
}
.th-grey {
    background: #ccc;
    color: #222;
}
.table-responsive{
    /* height: 80vh; */
    overflow: auto;
    margin: 20px;
    height: calc(100vh - 350px);
}

.th-style{
    padding: 10px;
}

.btn-data{
    float: right;
    margin-top: 20px;
}

.content{
    margin: 20px;
    color: #666;
    padding-bottom: 30px;
}

@media(max-width : 600px) {
 .table-head tr {
    display: grid;
    grid-template-columns: 50% 50%;
 }
 .xs-tr-hide {
    display: none;
 }

 .actions{
    display: flex;
    margin-bottom: 50px !important;
 }

 .btn-data{
    float: right; 
    margin: 15px 0;
 }

 .checkbox{
    margin: 15px 0;
 }

 table{
     width: 1500px;
 }

 .table-responsive{
     overflow: auto;
 }
}