<mat-card class="content">
  <mat-card-title style="display: flex">
    Material Requirement Planning &nbsp;<mat-chip-list>
      <mat-chip selected>MRP</mat-chip>
    </mat-chip-list>
  </mat-card-title>
  <mat-card-subtitle>
    As of {{ today | date}}
  </mat-card-subtitle>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Data Filter
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <div fxlayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div fxFlex="33" fxLayout="column">
          <mat-form-field class="height-matformfield">
            <input #name matInput [(ngModel)]="model.PartCD" placeholder="Part" [matAutocomplete]="autoPart">
            <mat-autocomplete #autoPart="matAutocomplete">
              <mat-option *ngIf="isLoadingPart" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoadingPart">
                <mat-option class="option-hover" *ngFor="let item of itemPart" [value]="item.name">
                  <span>{{ item.name }}</span>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Part Group" [(ngModel)]="model.GroupingCD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of partGroups" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="height-matformfield">
            <input type="text" [(ngModel)]="model.VendorCD" #supplier matInput placeholder="Supplier"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngIf="isLoadingSupplier" class="is-loading">
                <mat-spinner diameter="50"></mat-spinner>
              </mat-option>
              <ng-container *ngIf="!isLoadingSupplier">
                <mat-option *ngFor="let supplier of suppliers" [value]="supplier.name">
                  {{supplier.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field class="height-matformfield">
            <mat-select placeholder="WareHouse" [(ngModel)]="model.WarehouseCD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of warehouses" [value]="data.warehouseCd">
                {{data.warViewName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="33" fxLayout="column">
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Part Category 1" [(ngModel)]="model.PartCat1CD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of partCats" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Part Category 2" [(ngModel)]="model.PartCat2CD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of partCats" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Part Category 3" [(ngModel)]="model.PartCat3CD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of partCats" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Priority" [(ngModel)]="model.Priority">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of priorities" [value]="data">
                {{data}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxFlex="33" fxLayout="column">
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Division" [(ngModel)]="model.DivisionCD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of divisions" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Department" [(ngModel)]="model.DepartmentCD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of departments" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="height-matformfield">
            <mat-select placeholder="Project" [(ngModel)]="model.ProjectCD">
              <mat-option [value]=null class="option-hover">All</mat-option>
              <mat-option *ngFor="let data of projects" [value]="data.code">
                {{data.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="height-matformfield">
            <input #datepicker [disabled]="true" [(ngModel)]="model.TransDate" matInput
              (ngModelChange)="changeTransDate()" [matDatepicker]="picker" placeholder="Transaction as of Date">
            <mat-datepicker-toggle id="timepicker" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker [startAt]="today"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout>
        <!-- <mat-checkbox class="checkbox">Show Under Safety Stock Only</mat-checkbox> -->
        <button mat-raised-button color="primary" (click)="GetStockMonitoring()" class="btn-data"> Get Data</button>
      </div>
    </mat-card-content>

  </mat-expansion-panel>



</mat-card>



<mat-paginator [pageSize]="model.Limit" [length]="model.TotalRow" (page)="onMovePage($event)" showFirstLastButtons>
</mat-paginator>

<div class="table-responsive mat-elevation-z1">
  <mat-progress-bar *ngIf="IsLoading" mode="indeterminate" value="40"></mat-progress-bar>


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="partCD" sticky>
      <th mat-header-cell *matHeaderCellDef  width="150" class="th-style th-grey text-left" mat-sort-header> Part Code </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> <span>{{element.partCD}}</span> </td>
    </ng-container>
    <ng-container matColumnDef="partname" sticky>
      <th mat-header-cell *matHeaderCellDef [width]="200" class="th-style th-grey text-left l-208" mat-sort-header> Part
        Name </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> <span>{{element.partName}} </span></td>
    </ng-container>
    <ng-container matColumnDef="groupingCD" sticky>
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left l-457" mat-sort-header> Group
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.groupingCD}} </td>
    </ng-container>
    <ng-container matColumnDef="unitCD" sticky>
      <th mat-header-cell *matHeaderCellDef width="50" class="th-style th-grey text-left l-564" mat-sort-header> Unit
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.unitCD}} </td>
    </ng-container>
    <ng-container matColumnDef="invQty">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-blue" mat-sort-header> Stock On Hand </th>
      <td mat-cell *matCellDef="let element" class="text-number"> {{element.invQty}} </td>
    </ng-container>
    <ng-container matColumnDef="bookQty">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-blue" mat-sort-header> Booking Stock </th>
      <td mat-cell *matCellDef="let element" class="text-number"> {{element.bookQty}} </td>
    </ng-container>
    <ng-container matColumnDef="divisionCD">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Division
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.divisionCD}} </td>
    </ng-container>
    <ng-container matColumnDef="departmentCD">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Department
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.departmentCD}} </td>
    </ng-container>
    <ng-container matColumnDef="projectCD">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Project </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.projectCD}} </td>
    </ng-container>
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Priority
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.priority}} </td>
    </ng-container>
    <ng-container matColumnDef="warehouseCD">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Warehouse
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.warehouseCD}} </td>
    </ng-container>

    <ng-container matColumnDef="partCat1">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Part Cat 1
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.partCat1}} </td>
    </ng-container>
    <ng-container matColumnDef="partCat2">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Part Cat 2
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.partCat2}} </td>
    </ng-container>
    <ng-container matColumnDef="partCat3">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Part Cat 3
      </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.partCat3}} </td>
    </ng-container>
    <ng-container matColumnDef="vendorCD">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey text-left" mat-sort-header> Default
        Supplier </th>
      <td mat-cell *matCellDef="let element" class="pl-10"> {{element.vendorCD}} </td>
    </ng-container>
    <ng-container matColumnDef="minimumorder">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-green" mat-sort-header> Minimum Order </th>
      <!-- <td mat-cell *matCellDef="let element" class="text-number"> {{element.prvMinOrder}} </td> -->
      <td mat-cell *matCellDef="let element" class="text-number"> </td>
    </ng-container>

    <ng-container matColumnDef="safetystock">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-green" mat-sort-header> Safety Stock </th>
      <!-- <td mat-cell *matCellDef="let element" class="text-number"> {{element.pslMinStockQty}} </td> -->
      <td mat-cell *matCellDef="let element" class="text-number"> </td>
    </ng-container>
    <ng-container matColumnDef="maxstock">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-grey" mat-sort-header> Max Stock Qty </th>
      <td mat-cell *matCellDef="let element" class="text-number"> {{element.pslMaxStockQty}} </td>
    </ng-container>

    <ng-container matColumnDef="orderQty">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-yellow" mat-sort-header> Order Stock </th>
      <td mat-cell *matCellDef="let element" class="text-number"> {{element.orderQty}} </td>
    </ng-container>


    <ng-container matColumnDef="stockExpected">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-yellow" mat-sort-header> Expected Stock </th>
      <td mat-cell *matCellDef="let element" class="text-number text-bold"> {{element.stockExpected}} </td>
    </ng-container>
    <ng-container matColumnDef="sugestionqtytoorder">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-green" mat-sort-header> Sugestion Qty to Order
      </th>
      <!-- <td mat-cell *matCellDef="let element" class="text-number"> {{element.stockExpected}} </td> -->
      <td mat-cell *matCellDef="let element" class="text-number"> </td>
    </ng-container>

    <ng-container matColumnDef="prodAvailable">
      <th mat-header-cell *matHeaderCellDef width="75" class="th-style th-blue" mat-sort-header> Availability Stock
      </th>
      <td mat-cell *matCellDef="let element" class="text-number text-bold"> {{element.prodAvailable}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef> <mat-checkbox></mat-checkbox> </th>
    </ng-container> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <div class="no-data" *ngIf="(dataSource?.data?.length == [] || IsError) && IsLoading">
    <span>
      Sorry !!! Can't Reach Your Data
    </span>
  </div>

  <mat-progress-bar *ngIf="IsLoading" mode="indeterminate" value="40"></mat-progress-bar>

</div>