.chart-filter{
    position: relative;
    height: 450px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-refresh {
    width: auto;
    font-size: 72px;
    height: auto;
    color: #5c0806;
    cursor: pointer;
}
.total-supp {
    text-align: center;
    color: #666;
}
.total-supp h3{ margin: 0; }
@media(max-width: 600px){
    .chart-filter{
        margin-top: 20px;
        width: 100%;
    }
}