<div class="table-responsive" *ngIf="data.type != 'TotalSupplier'" >
  <table mat-table [dataSource]="dataSource" 
  class="mat-elevation-z8">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
    </ng-container>

    <ng-container matColumnDef="cd">
      <th mat-header-cell *matHeaderCellDef width="250" > Code </th>
      <td mat-cell *matCellDef="let element" > {{element.cd}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef width="150"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd MMM yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let element"> {{element.division}} </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef class="hide-sm"> Project </th>
      <td mat-cell *matCellDef="let element" class="hide-sm"> {{element.project}} </td>
    </ng-container>

    <ng-container matColumnDef="requestor">
      <th mat-header-cell *matHeaderCellDef class="text-center"> {{ IsPO ? "Supplier" : "Requestor" }} </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.employee || element.supplier}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
      <td mat-cell *matCellDef="let element" class="text-center"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onGoToDetailTrx(row.id)"
      style="cursor: pointer"></tr>
  </table>
  <mat-progress-bar *ngIf="onLoading"   mode="indeterminate" value="40"></mat-progress-bar>
  <mat-paginator [pageSize]="Limit" [length]="TotalRow"  (page)="onMovePage($event)" showFirstLastButtons></mat-paginator>
</div>
<div class="table-responsive" *ngIf="data.type == 'TotalSupplier'" >
  <table mat-table [dataSource]="dataSource" 
   class="mat-elevation-z8">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
    </ng-container>

    <ng-container matColumnDef="cd">
      <th mat-header-cell *matHeaderCellDef width="250"> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.cd}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef width="150"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd MMM yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let element"> {{element.division}} </td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.department}} </td>
    </ng-container>

    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef class="hide-sm"> Project </th>
      <td mat-cell *matCellDef="let element" class="hide-sm"> {{element.project}} </td>
    </ng-container>

    <ng-container matColumnDef="requestor">
      <th mat-header-cell *matHeaderCellDef> {{ IsPO ? "Supplier" : "Requestor" }} </th>
      <td mat-cell *matCellDef="let element"> {{element.supplier || element.requestor}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onGoToDetailTrx(row.id)"
      style="cursor: pointer"></tr>
     
  </table>
  <mat-progress-bar *ngIf="onLoading"   mode="indeterminate" value="40"></mat-progress-bar>
  <mat-paginator [pageSize]="Limit" [length]="TotalRow"  (page)="onMovePage($event)" showFirstLastButtons></mat-paginator>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
</div>