<div class="row-report-card">
  <app-cardprocurement [cardModel]=cardModel type="MPRNeedToConfirm" class="mat-elevation-z8 report-card"
    description="MPR Need To Confirm">
  </app-cardprocurement>
  <app-cardprocurement [cardModel]=cardModel type="MPRNeedToRunning" class="mat-elevation-z8 report-card"
    description="MPR Need To Running">
  </app-cardprocurement>
  <app-cardprocurement [cardModel]=cardModel type="OutstandingMPRAgainstPO" class="mat-elevation-z8 report-card"
    description="Outstanding MPR Against PO">
  </app-cardprocurement>
  <app-cardprocurement [cardModel]=cardModel type="OutstandingMPRAgainstGRN" class="mat-elevation-z8 report-card"
    description="Outstanding MPR Against GRN">
  </app-cardprocurement>

  <app-cardprocurement [cardModel]=cardModel type="PONeedtoConfirm" class="mat-elevation-z8 report-card"
    description="PO Need to Confirm">
  </app-cardprocurement>
  <app-cardprocurement [cardModel]=cardModel type="PONeedtoRunning" class="mat-elevation-z8 report-card"
    description="PO Need to Running">
  </app-cardprocurement>
  <app-cardprocurement [cardModel]=cardModel type="OutstandingPOAgainstGRN" class="mat-elevation-z8 report-card"
    description="Outstanding PO Against GRN">
  </app-cardprocurement>
  <app-cardprocurement [cardModel]=cardModel type="OutstandingPOAgainstSI" class="mat-elevation-z8 report-card"
    description="Outstanding PO Against SI">
  </app-cardprocurement>
</div>

<div class="row-report-chart">
  <app-chartmprnumber type="NumberofMPR" [chartModel]=cardModel></app-chartmprnumber>
  <app-chartponumber type="NumberofPO" [chartModel]=cardModel></app-chartponumber>
</div>
<div class="row-report-chart">
  <app-chartopenpovalue type="OpenPOValue" [chartModel]=cardModel></app-chartopenpovalue>
  <app-chartnumberofsuppliers type="NumberofSupplier" [chartModel]=cardModel></app-chartnumberofsuppliers>
</div>
<div class="row-report-chart">
  <app-charttotalsupplier [chartModel]=cardModel></app-charttotalsupplier>
</div>