<div class="chart-filter">
  <button mat-icon-button class="filter-report" [matMenuTriggerFor]="menu" [ngClass]="{'card-filtered': IsFiltered}">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openFormFilter()">
      <mat-icon>filter_list</mat-icon>
      <span>Filter</span>
    </button>
    <button mat-menu-item (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
      <span>Refresh</span>
    </button>
  </mat-menu>


  <mat-spinner *ngIf="IsLoading" class="icon-refresh-sales" mode="indeterminate" value="40"></mat-spinner>

  <mat-icon *ngIf="IsError" class="icon-refresh" (click)="onRefresh()">refresh</mat-icon>
  <ngx-charts-bar-vertical *ngIf="!IsError && !IsLoading" [view]="view" [scheme]="colorScheme" [results]="numberofcustomer" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>