.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/background-login.jpg');
}

.card{
    width: 400px;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.header{
    text-align: center;
    padding: 30px 0;
    border-radius: 10px 10px 0 0;
    background-color: #39849457;
    color: white;
    margin: 0 !important;
    font-size: 20px;
}

.text-header{
    width: 100%
}

.header div.mat-card-header-text {
    margin: 0 !important;
}

.centered{
    display: flex;
    flex-direction: column;
    margin: 30px 0 !important;
}

.form-field{
    width: 280px;
}

.icon{
    margin-right: 10px;
}

.btn-submit{
    margin-top: 10px;
}