<div class="container">
  <mat-card class="card mat-elevation-z8">
    <div class="header">
      <span class="text-header">LOGIN</span>
    </div>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="centered">
        <mat-form-field class="form-field">
          <mat-icon matPrefix class="icon">account_circle</mat-icon>
          <input matInput type="text" placeholder="Username" formControlName="username" required>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-icon matPrefix class="icon">lock</mat-icon>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-spinner *ngIf="!userLogin"></mat-spinner>
        <a *ngIf="errorMsg != null" mat-button color="primary" class="w-100">{{errorMsg}}</a>
        <button mat-raised-button color="primary" class="mat-elevation-z6 btn-submit" type="submit"> SIGN IN</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>