<div class="table-responsive" >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">

    <ng-container matColumnDef="no" >
      <th mat-header-cell *matHeaderCellDef width="75" > No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef width="75%" > Customer </th>
      <td mat-cell *matCellDef="let element" > {{element.supplier}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef style="text-align: right;" width="20%" > Amount </th>
      <td mat-cell *matCellDef="let element" style="text-align: right;" > {{element.currencyCd}} {{element.amount | number}} </td>
    </ng-container>
   

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onGoToDetailTrx(row.vendorId)"
      style="cursor: pointer"></tr>
  </table>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
</div>