.report-card {
    width: auto; 
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #cb6457;
    border-bottom: 5px solid #ac615f;
    font-size: 20px;
    color: #b26f6f;
    background: url("/assets/backgroundcard.png");
    background-size: cover;
    border-radius: 5px;
}

.report-card h3 {
    font-size: 72px;
    margin: 0;
    color: #7b3d33;
    
}

.filter-report {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.mat-dialog-container{
    height: 90vh !important;    
}
  
.icon-refresh {
    width: auto;
    font-size: 72px;
    height: auto;
    color: #5c0806;
    cursor: pointer;
}

.card-filtered {
    color: #a57140 !important;
    background: #ffd09d !important;
}