<mat-card class="report-card">
 
  <button mat-icon-button class="filter-report"
  [matMenuTriggerFor]="menu" 
  [ngClass]="{'card-filtered': IsFiltered}">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="openFormFilter()">
      <mat-icon >filter_list</mat-icon>
      <span>Filter</span>
    </button>
    <button mat-menu-item (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
      <span>Refresh</span>
    </button>
  </mat-menu>

  <mat-spinner *ngIf="IsLoading"  class="icon-refresh-sales" mode="indeterminate" value="40"></mat-spinner>
  <h3 *ngIf="!IsLoading && !IsError" (click)="openTable()" style="cursor: pointer">{{ count }}</h3>
  <mat-icon *ngIf="IsError" class="icon-refresh" (click)="onRefresh()">refresh</mat-icon>
  <div (click)="openTable()" style="cursor: pointer; text-align: center">{{ description }}</div>
</mat-card>

