<div class="chart-filter">
    <button mat-icon-button [ngClass]="{'card-filtered': IsFiltered}" class="filter-report" (click)="openFormFilter()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-spinner *ngIf="IsLoading" mode="indeterminate" value="40"></mat-spinner>

    <mat-icon *ngIf="IsError" class="icon-refresh" (click)="onRefresh()">refresh</mat-icon>
    <ngx-charts-bar-vertical *ngIf="!IsError && !IsLoading" [view]="view" [scheme]="colorScheme" [results]="numberofsupplier" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>