<mat-toolbar  class="toolbar-style">
     <span class="logo-sofi" routerLink="./">Dashboard</span>
     <span class="example-spacer"></span>
     <app-applications fxShow=true></app-applications>
     <span class="username">{{username}}</span>
     <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="./assets/user-shield.png">
     </button>
     <mat-menu  #menu="matMenu">
       <div routerLink="/user" mat-menu-item>
        <button mat-icon-button >
          <img src="./assets/user-shield.png">
          <span class="app-wraptext">User</span>
        </button>
      </div>
      <div mat-menu-item>
          <!-- <a href="{{link | appsettings:'logout'}}"> -->
        <button mat-icon-button (click)="logout()">
          <img src="./assets/shutdown.png">
          <span class="app-wraptext">Keluar</span>
        </button>
        <!-- </a> -->
      </div>
      </mat-menu>
</mat-toolbar>
