.example-icon {
  padding: 0 14px;
}
.search-input{
margin-left: 50px;
width: 50%;
}
.booor{
background-color: #ffffff
}
.icon-tools{
  cursor: pointer;
  margin:0 10px;
}
.example-spacer {
  flex: 1 1 auto;
}

.toolbar-style{
    background-color: #ffffff; 
    color: black
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.toolbar-style{
    background-color: #fff;
  border-bottom: rgba(0, 0, 0, 0.18) 1px solid
  }

.logo-sofi{
  fill: rgb(67, 44, 133);
  font-family: SegoeUI-Semibold, "Segoe UI";
  font-size: 30;
  font-weight: 600;
  letter-spacing: 0.1em;
  transform: translate(237, 56);
  margin-left: 35px;
  cursor: pointer;
}
.username{
  font-size: 18px;
  font-family: SegoeUI-Semibold, "Segoe UI";
  font-weight:  normal;
  color:gray;
}

@media (max-width:400px){
  .logo-sofi{
    font-size: 10px !important;
  }
} 

.app-wraptext{
  margin-left: 10px;
  white-space: pre-wrap;
  color: #8d98a7;
  font-size: 16px;
}