.applications{
    width: 380px;
}
.applications .mat-card{
    padding: 25px 10px;
}
.applications .mat-card a { width: 100%; height: 100%; }
.applications .mat-card img { width: 35px }
.applications .mat-card .mat-button{
    height: 100%;
    width: 100%;
    line-height: 1.7;
    font-weight: 400;
}

.mat-button .mat-button-focus-overlay { background: transparent; }
.applications .mat-card .mat-button .mat-button-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.applications .mat-card .mat-button .mat-button-wrapper .mat-icon{
    padding: 8px;
    color: black;
    border-radius: 4px;
}

.app-wraptext{
    margin-top: 3px;
    white-space: pre-wrap;
    color: #8d98a7;
    font-size: 12px;
}

.app-wraptext:hover {
    text-decoration: underline;
}


