.applications{
    width: 260px;
    .mat-card{
        padding: 0;
        .mat-button{
            height: 100%;
            line-height: 1.7;
            font-weight: 400;
            .mat-button-wrapper{
                display: flex;
                flex-direction: column;
                align-items: center;
                .mat-icon{
                    padding: 8px;
                    color: black;
                    border-radius: 4px;
                }
            }
        }
    }
}