<button mat-icon-button [matMenuTriggerFor]="appsMenu" #appsMenuTrigger="matMenuTrigger">
  <mat-icon>apps</mat-icon>
</button>
<mat-menu #appsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu applications">
  <span (mouseleave)="appsMenuTrigger.closeMenu()">
    <mat-card>
      <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile>
              <a href="{{link | appsettings:'home'}}">
                <button mat-button>
                  <img src="./assets/app-home.png">
                  <span class="app-wraptext">Home</span>
                </button>
              </a>
            </mat-grid-tile>
        <mat-grid-tile>
            <a href="{{link | appsettings:'mpr'}}">
            <button mat-button>
              <img src="./assets/app-mpr.png" >
              <span class="app-wraptext">MPR</span>
            </button>
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a href="{{link | appsettings:'po'}}">
            <button mat-button>
              <img src="./assets/app-po.png">
              <span class="app-wraptext">PO</span>
            </button>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a href="{{link | appsettings:'grn'}}">
            <button mat-button>
              <img src="./assets/app-grn.png" >
              <span class="app-wraptext">GRN</span>
            </button>
          </a>
        </mat-grid-tile>
       
        <mat-grid-tile>
          <a href="{{link | appsettings:'si'}}">
            <button mat-button>
              <img src="./assets/app-si.png" >
              <span class="app-wraptext">SI</span>
            </button>
          </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="{{link | appsettings:'payment'}}">
              <button mat-button>
                <img src="./assets/app-payment.png">
                <span class="app-wraptext">Payment</span>
              </button>
            </a>
          </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </span>
</mat-menu>