<div class="table-responsive" >
  <table *ngIf="data.type == 'TotalSupplier'" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef [width]=35> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{ i+1 }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef [width]=300> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.vndName}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.vndAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef [width]=200> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.vndPhone}} </td>
    </ng-container>

    <ng-container matColumnDef="pic">
      <th mat-header-cell *matHeaderCellDef [width]=200> PIC </th>
      <td mat-cell *matCellDef="let element"> {{element.vndContact}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      style="cursor: pointer" (click)="onGoToDetailTrx(row)"></tr>
  </table>
 
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Close</button>
</div>