<h1 mat-dialog-title>Setup Filter</h1>
<div mat-dialog-content class="filter-content">
  <mat-form-field>
    <mat-label>Select a Division</mat-label>
    <mat-select [(ngModel)]="Division">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let m of Divisions" [value]="m.id">{{ m.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a Department</mat-label>
    <mat-select [(ngModel)]="Department">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let m of Departments" [value]="m.id">{{ m.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a Project</mat-label>
    <mat-select [(ngModel)]="Project">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let m of Projects" [value]="m.id">{{ m.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select a Requestor</mat-label>
    <mat-select [(ngModel)]="Requestor">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let m of Requestors" [value]="m.id">{{ m.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="IsPO">
    <mat-label>Select a PO Type</mat-label>
    <mat-select [(ngModel)]="POType">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let m of POTypes" [value]="m.potypeId">{{ m.potName }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="data.type == 'OpenPOValue'">
    <mat-label>Select a Currency</mat-label>
    <mat-select [(ngModel)]="Currency">
      <mat-option *ngFor="let m of Currencys" [value]="m.id">{{ m.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div mat-dialog-actions class="action-filter">
  <button mat-button (click)="onClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onDone()" cdkFocusInitial>Done</button>
</div>