.filter-report {
    position: absolute;
    top: -25px;
    right: 15px;
    cursor: pointer;
}

.chart-filter{
    position: relative;
    height: 450px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-refresh {
    width: auto;
    font-size: 72px;
    height: auto;
    color: #3f51b5;
    cursor: pointer;
}

.card-filtered {
    color: #a57140 !important;
    background: #cccccc3d !important;
}
@media(max-width: 600px){
    .chart-filter{
        margin-top: 20px;
        width: 100%;
    }
}