@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.no-data{
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0 !important;
  text-align: center
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important ;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    height: 50px !important;
}

.mat-drawer-side{
    border-right: none;
}
.example-container >.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: calc(100vh - 50px);
  overflow: auto;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .mat-drawer-content{
    overflow: hidden !important;
} */

.no-data{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 !important;
    text-align: center
}

.alert-danger {
    text-align: center;
    width: 285px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  }

  #timepicker button.mat-icon-button:focus{
    transition: 0.5s ease-in-out;
    transform: scale(2.0) !important;
    background-color:  #85f109;
} 
/* #6fff2891 */
.snackbarColor{
    background: #fff;
    color: rgb(56, 55, 55)
}

span.cal-day-badge.ng-star-inserted {
  background-color: #f5db59 !important;
  color: #7a6767 !important;
}

span.cal-day-number {
  color: #000;
  opacity: 1 !important;
}

.cal-open-day-events.ng-trigger.ng-trigger-collapse.ng-star-inserted{
  background-color: #fff9c4 !important;
  box-shadow: 0 0 !important;
}

span.cal-event-title.ng-star-inserted{
  color: #666 !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
::-webkit-scrollbar-thumb {
  background: #888; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.icon-refresh-sales.mat-progress-spinner circle, .icon-refresh-sales.mat-spinner circle{
  stroke: #3b1305 !important;
}