/* navbar */
.button-menu{
    position: absolute;
    left:5px;
    top:15px;

}
.menu-icon{
    cursor: pointer;
    margin:0 10px;
}
/* sidenav */
.example-container {
    width: 100%;
    height: 100%;
    
  }
.new-btn{
    margin: 10px;  
    color: black  
}  
.btn-add{
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .25px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    min-width: 56px;
    padding: 0 24px 0 0;
    text-transform: none;
}
.btn-add:before{
    background-image: url("https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    display: block;
    height: 48px;
    min-width: 56px;
 }   
.list{
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-menu{
    cursor: pointer;
    width: 100%;
    height: 30px !important;
    border-radius: 0 16px 16px 0;
    margin-bottom:5px;

}
.list-menu:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.059);
}

.active{
    background-color: rgba(110, 107, 107, 0.178);
    color:black;
    font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: bold;
}
.list-icon{
    cursor: pointer;
    margin-right:20px;
}
.menu-text{
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .2px;
    color: #202124;
    text-shadow: none;
}


/* Content */
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
      width: 290px;
  }

  /* newmrform css */
.newmrform-container {
    display: flex;
    flex-direction: column;
  }
  
  .newmrform-container > * {
    width: 100%;
  }

.dialog-container{
    width: 500px;
}
.example-container{
    background: #f7f5f5;
}