<app-navbar (userLogin)="userLogout($event)"></app-navbar> 
  
<div class="button-menu">
   
    <mat-icon id="menu-drawer" (click)="drawer.toggle()" class="menu-icon"> <img src="./assets/menu.png"></mat-icon>
</div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'"  >
     
      <mat-list class="list" role="list">
          <mat-list-item *ngFor="let m of menu" (click)="gotToRoute(m)"  class="list-menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  role="listitem">
            <img src="{{ m.icon }}" class="list-icon">
              <span class="menu-text"  >{{ m.name }}</span>
          </mat-list-item>
          
        </mat-list>
        <mat-divider></mat-divider>
    </mat-drawer>
   
    <router-outlet></router-outlet>
  </mat-drawer-container>