.row-report-card {
    display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 3%;
  padding: 10px;
  margin: 10px 2% 50px 2%;
}


.expansion-panel{
 margin-left: 2%;
 margin-right: 2%;
}

@media(max-width: 992px) {
    .row-report-card {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
}

@media(max-width: 768px) {
    .row-report-card {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
} 

@media(max-width: 576px) {
    .row-report-card {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.row-report-chart{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 3%; */
    flex-direction: row;
}

@media(max-width: 576px) {
.row-report-chart{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 334px;
    flex-direction: column;
}
}

@media(max-width: 1440px) {
    .row-report-chart{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        /* margin-left: 1000px; */
    }
    }
