<div class="row-report-card">
  <app-card-sales [cardModel]=cardModel type="SQNeedToConfirm" class="mat-elevation-z8 report-card"
    description="SQ Need To Confirm">
  </app-card-sales>
  <app-card-sales [cardModel]=cardModel type="SQNeedToRunning" class="mat-elevation-z8 report-card"
    description="SQ Need To Running">
  </app-card-sales>
  <app-card-sales [cardModel]=cardModel type="OutstandingSQAgainstSO" class="mat-elevation-z8 report-card"
    description="Outstanding SQ Against SO">
  </app-card-sales>
  <app-card-sales [cardModel]=cardModel type="OutstandingSQAgainstDO" class="mat-elevation-z8 report-card"
    description="Outstanding SQ Against DO">
  </app-card-sales>

  <app-card-sales [cardModel]=cardModel type="SONeedtoConfirm" class="mat-elevation-z8 report-card"
    description="SO Need to Confirm">
  </app-card-sales>
  <app-card-sales [cardModel]=cardModel type="SONeedtoRunning" class="mat-elevation-z8 report-card"
    description="SO Need to Running">
  </app-card-sales>
  <app-card-sales [cardModel]=cardModel type="OutstandingSOAgainstDO" class="mat-elevation-z8 report-card"
    description="Outstanding SO Against DO">
  </app-card-sales>
  <app-card-sales [cardModel]=cardModel type="OutstandingSOAgainstInvoice" class="mat-elevation-z8 report-card"
    description="Outstanding SO Against IVO">
  </app-card-sales>
</div>

<!--
<div class="row-report-chart">
  <app-chart-sq-number type="NumberofSQ" [chartModel]=cardModel></app-chart-sq-number>
  <app-chart-so-number type="NumberofSO" [chartModel]=cardModel></app-chart-so-number>
</div>

<div class="row-report-chart">
  <app-chart-open-so-value type="OpenSOValue" [chartModel]=cardModel></app-chart-open-so-value>
  <app-chart-numberof-customers type="NumberofCustomer" [chartModel]=cardModel></app-chart-numberof-customers>
</div>

<div class="row-report-chart">
  <app-chart-total-customer [chartModel]=cardModel></app-chart-total-customer>
</div> -->
<div style="margin-bottom: 20px;">
  <mat-accordion>
    <mat-expansion-panel class="expansion-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Transaction Number</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row-report-chart">
        <app-chart-sq-number type="NumberofSQ" [chartModel]=cardModel></app-chart-sq-number>
        <app-chart-so-number type="NumberofSO" [chartModel]=cardModel></app-chart-so-number>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel" (opened)="isOpenPanelChart1 = true"
      (closed)="isOpenPanelChart1 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Transaction Amount</mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="isOpenPanelChart1" class="row-report-chart">
        <app-chart-open-so-value type="OpenSOValue" [chartModel]=cardModel></app-chart-open-so-value>
        <app-chart-numberof-customers type="NumberofCustomer" [chartModel]=cardModel></app-chart-numberof-customers>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel" (opened)="isOpenPanelChart2 = true"
      (closed)="isOpenPanelChart2 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Sales Analysis</mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="isOpenPanelChart2" class="row-report-chart">
        <div class="row-report-chart">
          <app-chart-sales-summaryby-currency [chartModel]=cardModel></app-chart-sales-summaryby-currency>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel" (opened)="isOpenPanelChart3 = true"
      (closed)="isOpenPanelChart3 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>Customer List</mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="isOpenPanelChart3" class="row-report-chart">
        <div class="row-report-chart">
          <app-chart-total-customer [chartModel]=cardModel></app-chart-total-customer>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>