.filter-report {
    position: absolute;
    top: -10px;
    right: 10px;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 2px 2px #ccc;
}

.chart-filter{
    position: relative;
    height: 450px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-refresh {
    width: auto;
    font-size: 72px;
    height: auto;
    color: #5c0806;
    cursor: pointer;
}

.card-filtered {
    color: #a57140 !important;
    background: #ffd09d !important;
}
@media(max-width: 600px){
    .chart-filter{
        margin-top: 20px;
        width: 100%;
    }
}