<mat-progress-bar *ngIf="isLoading" mode="indeterminate" value="40"></mat-progress-bar>
<mat-card class="calendar" [ngSwitch]="view">
  <div class="toolbar">
    <mat-button-toggle-group>
      <mat-button-toggle class="btn-tools" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Previous</mat-button-toggle>
      <mat-button-toggle mwlCalendarToday [(viewDate)]="viewDate" (click)="onGoToday()">Today</mat-button-toggle>
      <mat-button-toggle class="btn-tools" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Next</mat-button-toggle>
    </mat-button-toggle-group>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    <div fxLayout="column">
      <mat-checkbox (change)="onFilter()" [(ngModel)]="dueMPR">Due MPR</mat-checkbox>
      <mat-checkbox (change)="onFilter()" [(ngModel)]="duePO">Order to be Received</mat-checkbox>
    </div>
  </div>
  <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
    [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
</mat-card>