h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .calendar{
      margin: 20px;
      color: #666;
  }
.calendar .toolbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.calendar .toolbar >h3{
    flex: 1;
    text-align: center;
}
  .btn-tools{
    background-color: #3f51b5;
    color: white
  }